%h2 Artist Search
- if locals[:results]
  - unless locals[:results].empty?
    .results
      %p= locals[:query]
      - locals[:results].each do |artist|
        .result
          %a{href: "/artist/id/#{artist[:id]}"}= artist[:name]
- else
  - if locals[:headers]
    %p= locals[:headers][:status]
    %p= locals[:headers][:error_message]
  - else
    %p Unknown Error
