!!! 5
%html
  %head
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    = css :main
    %script{ src: "https://code.jquery.com/jquery-2.2.4.min.js" }

    %title= "Jam Radio - #{locals[:page_title]}"
  %body
    #wrapper
      #content
        =yield
    = js :main
