
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

form {
  p {  clear: left; margin-bottom: 12px;}
  .option {
    float: left;
    margin-left: 3px
  }
}

table {
  td {
      text-align: left;
      padding: 5px;
    }
}

a {
  color: lighten($primary-color, 50%);
  outline: none;
  .found {
    text-decoration: none;
    .text-align: center;
  }
}

body {
  font: 100% $font-stack;
  background: $primary-color;
  color: lighten($primary-color, 50%);
  padding: 10px;
}

h2 {
  margin-bottom: 8px;
  font-size: 150%;
  a {
    display: inline-block;
  }
}

input {
  margin-top: 5px
}

.result {
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 5px;
  border: 2px solid lighten($primary-color, 50%);
  min-width: 300px;
  width: 350px;
  min-height: 100px;
  box-shadow: gray 2px 2px;
  border-radius: 8px 4px;
  float: left;
  table {
    td {
      text-align: left;
      padding: 5px;
      a {
        display: inline;
        text-decoration: none;
        word-wrap: nowrap
      }
      a:hover {
      text-decoration: underline
      }
    }
  }
  a.img {
    display: block;
    text-decoration: none;
  }

}

.tracks, .albums {
  td, th {
    padding: 3px 3px;
  }

}

img {
  float: left;
  margin-right: 4px;

  .artist {
    margin: 3px;
  }

}

.artist, .album, .found {
  img {
    float: none;
  }
}
.track {
  height: 20px;
}

td.track_id, th.track_id {
  visibility: hidden; }

ol.main {
  list-style-type: square;
  li {
    padding: 6px;
  }
}


.no_image {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  background: grey;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  text-align: center;
  text-decoration: none;

}
