
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

form {
  .chunk {
    padding: 5px 0px;
    input[type="text"] {
      margin-bottom: 5px;
    }
  }
  .option {
    float: left;
    margin-left: 3px
  }

}

.button {
  background-color: lighten($primary-color, 80%);
  border: 1px;
  color: black;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px 7px;
}

table {
  td {
      text-align: left;
      padding: 5px;
    }
}

a {
  color: lighten($primary-color, 50%);
  outline: none;
  .found {
    text-decoration: none;
    text-align: center;
  }
}

body {
  margin-left: 5%; margin-right: 5%;
  font: 100% $font-stack;
  background: $primary-color;
  color: lighten($primary-color, 50%);
  padding: 10px;
}

h2 {
  margin-bottom: 8px;
  font-size: 150%;
  a {
    display: inline-block;
  }
}

input {
  margin-top: 5px
}

.tracks, .albums {
  td, th {
    padding: 3px 3px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  tbody {
    a:hover {
      text-decoration: underline;
    }
  }
}

img {
  float: left;
  margin-right: 4px;

  .artist {
    margin: 3px;
  }

}

.artist, .album, .found {
  img {
    float: none;
  }
}


ol.main {
  list-style-type: square;
  li {
    padding: 6px;
  }
}

tbody tr:nth-child(even) td {
  background: darken($primary-color, 2%)
}

tbody tr:hover td {
  background: lighten($primary-color, 50%);
  color: $primary-color;
  a {
    color: $primary-color;
  }
}

.player {
  margin: 5px 0px;
  #info {
    color: lighten($primary-color, 50%);
    font-weight: bold;
  }
}
